.ng-treetable {
    position: relative;
}

.ng-treetable table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.ng-treetable .ng-treetable-thead > tr > th,
.ng-treetable .ng-treetable-tbody > tr > td,
.ng-treetable .ng-treetable-tfoot > tr > td {
    padding: .25em .5em;
}

.ng-treetable .ng-treetable-toggler {
    cursor: pointer;
    display: inline-block;
    height: 1em;
    position: relative;
    top: 50%;
    margin-top: -.5em;
}

.ng-treetable .ng-sortable-column {
    cursor: pointer;
}

.ng-treetable p-treetablesorticon {
    vertical-align: middle;
}

.ng-treetable-auto-layout > .ng-treetable-wrapper {
    overflow-x: auto;
}

.ng-treetable-auto-layout > .ng-treetable-wrapper > table {
    table-layout: auto;
}

.ng-treetable .ng-treetable-chkbox {
    margin: 0 .25em;
    vertical-align: middle;
}

/* Sections */
.ng-treetable-caption,
.ng-treetable-summary {
    padding: .25em .5em;
    text-align: center;
    font-weight: bold;
}

.ng-treetable-caption {
    border-bottom: 0 none;
}

.ng-treetable-summary {
    border-top: 0 none;
}

/* Paginator */
.ng-treetable .ng-paginator-top {
    border-bottom: 0 none;
}

.ng-treetable .ng-paginator-bottom {
    border-top: 0 none;
}

/* Scrollable */
.ng-treetable-scrollable-wrapper {
    position: relative;
}
.ng-treetable-scrollable-header,
.ng-treetable-scrollable-footer {
    overflow: hidden;
    border: 0 none;
}

.ng-treetable-scrollable-body {
    overflow: auto;
    position: relative;
}

.ng-treetable-scrollable-body > table > .ng-treetable-tbody > tr:first-child > td {
    border-top: 0 none;
}

.ng-treetable-virtual-table {
    position: absolute;
}

/* Frozen Columns */
.ng-treetable-frozen-view .ng-treetable-scrollable-body {
    overflow: hidden;
}

.ng-treetable-frozen-view > .ng-treetable-scrollable-body > table > .ng-treetable-tbody > tr > td:last-child {
    border-right: 0 none;
}

.ng-treetable-unfrozen-view {
    position: absolute;
    top: 0px;
}

/* Resizable */
.ng-treetable-resizable > .ng-treetable-wrapper {
    overflow-x: auto;
}

.ng-treetable-resizable .ng-treetable-thead > tr > th,
.ng-treetable-resizable .ng-treetable-tfoot > tr > td,
.ng-treetable-resizable .ng-treetable-tbody > tr > td {
    overflow: hidden;
}

.ng-treetable-resizable .ng-resizable-column {
    background-clip: padding-box;
    position: relative;
}

.ng-treetable-resizable-fit .ng-resizable-column:last-child .ng-column-resizer {
    display: none;
}

.ng-treetable .ng-column-resizer {
    display: block;
    position: absolute !important;
    top: 0;
    right: 0;
    margin: 0;
    width: .5em;
    height: 100%;
    padding: 0px;
    cursor:col-resize;
    border: 1px solid transparent;
}

.ng-treetable .ng-column-resizer-helper {
    width: 1px;
    position: absolute;
    z-index: 10;
    display: none;
}

/* Reorder */
.ng-treetable-reorder-indicator-up,
.ng-treetable-reorder-indicator-down {
    position: absolute;
    display: none;
}

/* Responsive */
.ng-treetable-responsive .ng-treetable-tbody > tr > td .ng-column-title {
    display: none;
}

@media screen and (max-width: 40em) {
    .ng-treetable-responsive .ng-treetable-thead > tr > th,
    .ng-treetable-responsive .ng-treetable-tfoot > tr > td {
        display: none !important;
    }

    .ng-treetable-responsive .ng-treetable-tbody > tr > td {
        text-align: left;
        display: block;
        border: 0 none;
        width: 100% !important;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		clear: left;
    }

    .ng-treetable-responsive .ng-treetable-tbody > tr > td .ng-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
    }
}

/* Loader */
.ng-treetable-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    opacity: 0.1;
    z-index: 1;
}

.ng-treetable-loading-content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    margin-top: -1em;
    margin-left: -1em;
}

.ng-treetable .ng-treetable-loading-icon {
    font-size: 2em;
}