/** Breadcrumb **/
.ng-breadcrumb {
    margin: 0;
    padding: 0;
    padding: .5em;
}

.ng-breadcrumb ul {
    margin: 0;
    padding: 0;
}

.ng-breadcrumb ul li {
    display: inline-block;
    margin: 0 .25em;
}

.ng-breadcrumb-chevron, .ng-breadcrumb-home {
    vertical-align: middle;
}

.ng-breadcrumb ul li .ng-menuitem-link {
    text-decoration: none;
}

.ng-breadcrumb .ng-menuitem-icon {
    margin-right: .25em;
    vertical-align: middle;
}

.ng-breadcrumb .ng-menuitem-text {
    vertical-align: middle;
}