.ng-slidemenu {
    width: 12.5em;
    padding: .25em;
}

.ng-slidemenu.ng-slidemenu-dynamic {
    position: absolute;
}

.ng-slidemenu .ng-menu-separator {
    border-width: 1px 0 0 0;
}

.ng-slidemenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ng-slidemenu .ng-slidemenu-rootlist {
    position: absolute;
    top: 0;
}

.ng-slidemenu .ng-submenu-list {
    display: none;
    position: absolute;
    top: 0;
    width: 12.5em;
    padding: .25em;
}

.ng-slidemenu .ng-menuitem-link {
    padding: .25em;
    display: block;
    position: relative;
    text-decoration: none;
}

.ng-slidemenu .ng-menuitem-icon {
    margin-right: .25em;
    vertical-align: middle;
}

.ng-slidemenu .ng-menuitem-text {
    vertical-align: middle;
}


.ng-slidemenu .ng-menuitem {
    position: relative;
    margin: .125em 0;
}

.ng-slidemenu .ng-menuitem-link .ng-submenu-icon {
    position: absolute;
    margin-top: -.5em;
    right: 0;
    top: 50%;
}

.ng-slidemenu .ng-slidemenu-wrapper {
    position: relative;
}

.ng-slidemenu .ng-slidemenu-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.ng-slidemenu-backward {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.25em;
    cursor: pointer;
    display: none;
}

.ng-slidemenu-backward .ng-slidemenu-backward-icon {
    vertical-align: middle;
}

.ng-slidemenu-backward span {
    vertical-align: middle;
}

.ng-slidemenu .ng-menuitem-active {
    position: static;
}

.ng-slidemenu .ng-menuitem-active > .ng-submenu > .ng-submenu-list {
    display: block;
}

.ng-slidemenu ul:not(.ng-active-submenu) > .ng-menuitem:not(.ng-menuitem-active),
.ng-slidemenu .ng-active-submenu > .ng-menuitem-active > .ng-submenu > .ng-submenu-list {
    display: none;
}

.ng-slidemenu .ng-active-submenu > .ng-menuitem-active ~ .ng-menuitem {
    display: block;
}