.ng-message {
    border: 1px solid;
    margin: 0px .25em;
    padding: .25em .5em;
    display: inline-block;
    vertical-align: top;
}

.ng-message .ng-message-icon,
.ng-message .ng-message-text {
    vertical-align: middle;
}

.ng-fluid .ng-message {
    display: block;
}