.ng-inplace .ng-inplace-display {
    display: inline;
    cursor: pointer;
    border: 0 none;
    padding: .25em;
    font-weight: normal;
}

.ng-inplace .ng-inplace-content {
    display: inline;
}