.ng-megamenu {
    padding: .25em;
}

.ng-megamenu-root-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ng-megamenu-root-list > .ng-menuitem {
    position: relative;
}

.ng-megamenu .ng-menuitem-link {
    padding: .25em;
    display: block;
    text-decoration: none;
}

.ng-megamenu .ng-menuitem-icon {
    margin-right: .25em;
    vertical-align: middle;
}

.ng-megamenu .ng-menuitem-text {
    vertical-align: middle;
}

.ng-megamenu-panel {
    display: none;
    position: absolute;
    width: auto;
}

.ng-megamenu-root-list > .ng-menuitem-active > .ng-megamenu-panel {
    display: block;
}

.ng-megamenu-panel .ng-menuitem {
    margin: .125em 0;
}

.ng-megamenu-submenu {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 12.5em;
}

.ng-megamenu-submenu-header {
    padding: .25em;
}

/* Horizontal */
.ng-megamenu-horizontal .ng-megamenu-root-list > .ng-menuitem {
    display: inline-block;
}

.ng-megamenu-horizontal .ng-megamenu-root-list > .ng-menuitem > .ng-menuitem-link > .ng-submenu-icon {
    vertical-align: middle;
    margin-left: .25em;    
}

/* Vertical */
.ng-megamenu-vertical {
    width: 12.5em;
}

.ng-megamenu-vertical .ng-megamenu-root-list > .ng-menuitem {
    display: block;
}

.ng-megamenu-vertical .ng-megamenu-root-list > .ng-menuitem > .ng-menuitem-link {
    position: relative;
}

.ng-megamenu-vertical .ng-megamenu-root-list > .ng-menuitem > .ng-menuitem-link > .ng-submenu-icon {
    position: absolute;
    width: 1em;
    height: 1em;
    top: 50%;
    right: 0;
    margin-top: -.5em;
}

.ng-megamenu .ng-g {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}