/*
* Deprecated: Use nova instead
*/
@mixin hover-element() {
    border-color: $stateHoverBorderColor;
    background-color: $stateHoverBgColor;
    color: $stateHoverTextColor;

    a {
        color: $stateHoverTextColor;
    }
}

@mixin icon-override($icon) {
    background: none !important;
    font-family: 'primeicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-indent: 0px !important;
    text-align: center;

    &:before {
        content: $icon;
    }
}

.ng-widget {
    font-family:  $fontFamily;
    font-size: $fontSize;

    input, select, textarea, button {
        font-family:  $fontFamily;
        font-size: $fontSize;
    }

    :active {
        outline: none;
    }
}

.ng-widget-content {
    border: $contentBorderWidth solid $contentBorderColor;
    background-color: $contentBgColor;
    color: $contentTextColor;

    a {
        color: $contentTextColor;
    }
}

.ng-widget-header {
    border: $headerBorderWidth solid $headerBorderColor;
    background-color: $headerBgColor;
    color: $headerTextColor;
    font-weight: $headerFontWeight;

    a {
        color: $headerTextColor;
    }
}

.ng-widget-overlay {
    background-color: #666666;
    opacity: .50;
    filter:Alpha(Opacity=50);
}

.ng-state-default {
    border: $stateDefaultBorderWidth solid $stateDefaultBorderColor;
    background-color: $stateDefaultBgColor;
    color: $stateDefaultTextColor;

    a {
        color: $stateDefaultTextColor ;
    }
}

.ng-state-active {
    border-color: $stateActiveBorderColor;
    background-color: $stateActiveBgColor;
    color: $stateActiveTextColor;

    a {
        color: $stateActiveTextColor;
    }
}

.ng-state-highlight  {
    border-color: $stateHighlightBorderColor;
    background-color: $stateHighlightBgColor;
    color: $stateHighlightTextColor;

    a {
        color: $stateHighlightTextColor;
    }
}

.ng-state-focus {
    border-color: $stateFocusBorderColor;
    background-color: $stateFocusBgColor;
    color: $stateFocusTextColor;

    a {
        color: $stateFocusTextColor;
    }
}

.ng-state-error {
    border-color: $stateErrorBorderColor;
    background-color: $stateErrorBgColor;
    color: $stateErrorTextColor;

    a {
        color: $stateErrorTextColor;
    }
}

.ng-state-disabled,
.ng-widget:disabled {
    opacity: $disabledOpacity;
    filter: Alpha(Opacity= $disabledOpacity * 100);
    background-image: none;
    cursor: default !important;

    * {
        cursor: default !important;
    }
}

/* Forms */
.ng-inputtext {
    background-color: $inputBgColor;
    color: $inputTextColor;
}

.ng-inputtext:enabled:hover {
    border-color: $stateHoverBorderColor;
}

.ng-inputtext.ng-state-focus,
.ng-inputtext:focus {
    outline: 0 none;
    border-color: $stateFocusBorderColor;
    -moz-box-shadow: 0px 0px 5px $stateFocusBorderColor;
    -webkit-box-shadow: 0px 0px 5px $stateFocusBorderColor;
    box-shadow: 0px 0px 5px $stateFocusBorderColor;
}

.ng-inputgroup {
    .ng-inputgroup-addon  {
        border-color: $stateDefaultBorderColor;
        background-color: lighten($stateDefaultBorderColor, 10%);
        color: $inputGroupTextColor;

        &:first-child {
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }

        &:last-child {
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }

    .ng-button {
        &:first-child {
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }

        &:last-child {
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }
    }
}

.ng-float-label input.ng-dirty.ng-invalid ~ label {
    color: $stateErrorTextColor;
}

.ng-autocomplete {
    .ng-autocomplete-multiple-container:not(.ng-state-disabled) {
        &:hover {
            border-color: $stateHoverBorderColor;
        }

        &.ng-state-focus {
            border-color: $stateFocusBorderColor;

        }
    }
}

.ng-chips {
    > ul:not(.ng-state-disabled) {
        &:hover {
            border-color: $stateHoverBorderColor;
        }

        &.ng-state-focus {
            border-color: $stateFocusBorderColor;
        }
    }
}

.ng-button:focus,
.ng-button:enabled:hover,
.ng-fileupload-choose:not(.ng-state-disabled):hover {
    outline: 0 none;
    @include hover-element();
}

.ng-button:enabled:active,
.ng-fileupload-choose:not(.ng-state-disabled):active {
    border-color: $stateActiveBorderColor;
    background-color: $stateActiveBgColor;
    color: $stateActiveTextColor;
}

.ng-chkbox-box:not(.ng-state-disabled):not(.ng-state-active):hover {
    @include hover-element();
}

.ng-radiobutton-box:not(.ng-state-disabled):not(.ng-state-active):hover {
    @include hover-element();
}

.ng-dropdown .ng-dropdown-clear-icon {
    color: lighten($inputTextColor, 40%);
}

.ng-dropdown:not(.ng-state-disabled):hover {
    @include hover-element();
}

.ng-dropdown-panel .ng-dropdown-item:not(.ng-state-highlight):not(.ng-state-disabled):hover {
    @include hover-element();
}

.ng-listbox {
    .ng-listbox-header {
        .ng-listbox-filter-container {
            .fa {
                color: $inputTextColor;
            }
        }
    }

    &:not(.ng-state-disabled) {
        .ng-listbox-item:not(.ng-state-highlight):not(.ng-state-disabled):hover {
            @include hover-element();
        }

        .ng-listbox-item.ng-state-disabled .ng-chkbox-box:hover {
            background-color: $inputBgColor;
            border-color: $stateDefaultBorderColor;
        }
    }

    &.ng-state-disabled {
        .ng-chkbox-box:not(.ng-state-active):hover {
            border-color: $stateDefaultBorderColor;
            background-color: $stateDefaultBgColor;
            color: $stateDefaultTextColor;
        }
    }
}

.ng-multiselect:not(.ng-state-disabled):hover {
    @include hover-element();
}

.ng-multiselect-panel .ng-multiselect-item:not(.ng-state-highlight):not(.ng-state-disabled):hover {
    @include hover-element();
}

.ng-multiselect-panel .ng-multiselect-item.ng-state-disabled:hover .ng-chkbox-box {
    background-color: $inputBgColor;
    border-color: $stateDefaultBorderColor;
}

.ng-multiselect-panel .ng-multiselect-close {
    color: $headerIconTextColor;
}

.ng-multiselect-panel .ng-multiselect-filter-container .fa {
    color: $inputTextColor;
}

.ng-spinner:not(.ng-state-disabled) .ng-spinner-button:enabled:hover {
    @include hover-element();
}

.ng-spinner:not(.ng-state-disabled) .ng-spinner-button:enabled:active {
    border-color: $stateActiveBorderColor;
    background-color: $stateActiveBgColor;
    color: $stateActiveTextColor;
}

.ng-selectbutton .ng-button:not(.ng-state-disabled):not(.ng-state-active):hover {
    @include hover-element();
}

.ng-togglebutton:not(.ng-state-disabled):not(.ng-state-active):hover {
    @include hover-element();
}

.ng-paginator a:not(.ng-state-disabled):not(.ng-state-active):hover {
    @include hover-element();
}

.ng-paginator a {
    color: $stateDefaultTextColor;
}

.ng-datatable {
    .ng-rowgroup-header a {
        color: $headerTextColor;
    }

    .ng-sortable-column:not(.ng-state-active):hover {
        background-color: $stateHoverBgColor;
        color: $stateHoverTextColor;
    }

    .ng-row-toggler {
        color: $contentTextColor;
    }

    tbody.ng-datatable-hoverable-rows {
        > tr.ng-widget-content:not(.ng-state-highlight):hover {
            cursor: pointer;
            background-color: $stateHoverBgColor;
            color: $stateHoverTextColor;
        }
    }
}

.ng-orderlist {
    .ng-orderlist-item:not(.ng-state-highlight):hover {
        @include hover-element();
    }
}

.ng-picklist {
    .ng-picklist-item:not(.ng-state-disabled):not(.ng-state-highlight):hover {
        @include hover-element();
    }

    .ng-picklist-droppoint-highlight {
        border-color: $stateHighlightBorderColor;
        background-color: $stateHighlightBgColor;
        color: darken($contentTextColor,1%);

        a {
            color: darken($contentTextColor,1%);
        }
    }

    .ng-picklist-highlight {
        border-color: $stateHighlightBorderColor;
        color: darken($contentTextColor,1%);

        a {
            color: darken($contentTextColor,1%);
        }
    }
}

.ng-tree {
    &.ng-treenode-dragover {
        border-color: $stateHighlightBorderColor;
    }

    .ng-treenode-content {
        &.ng-treenode-selectable {
            .ng-treenode-label:not(.ng-state-highlight):hover {
                @include hover-element();
            }
        }

        &.ng-treenode-dragover {
            background-color: $stateActiveBgColor;
            color: $stateActiveTextColor;
        }
    }

    &.ng-tree-horizontal {
        .ng-treenode-content.ng-treenode-selectable {
            .ng-treenode-label:not(.ng-state-highlight):hover {
                background-color: inherit;
                color: inherit;
            }

            &:not(.ng-state-highlight):hover {
                @include hover-element();
            }
        }
    }
}

.ng-organizationchart {
    .ng-organizationchart-node-content {
        &.ng-organizationchart-selectable-node:not(.ng-state-highlight):hover {
            @include hover-element();
        }
    }
}

.ng-accordion {
    .ng-accordion-header:not(.ng-state-active):not(.ng-state-disabled):hover {
        @include hover-element();
    }
}

.ng-fieldset {
    &.ng-fieldset-toggleable {
        .ng-fieldset-legend:hover {
            @include hover-element();
        }
    }
}

.ng-panel {
    .ng-panel-titlebar {
        .ng-panel-titlebar-icon:hover {
            @include hover-element();
        }
    }
}

.ng-tabview {
    .ng-tabview-nav {
        li {
            &:not(.ng-state-active):not(.ng-state-disabled):hover {
                @include hover-element();
            }
        }
    }
}

.ng-dialog {
    .ng-dialog-titlebar-icon {
        color: $headerTextColor;

        &:hover {
            @include hover-element();
        }
    }
}

.ng-sidebar {
    .ng-sidebar-close {
        color: $headerTextColor;

        &:hover {
            @include hover-element();
        }
    }
}

.ng-overlaypanel {
    .ng-overlaypanel-close:hover {
        @include hover-element();
    }
}

.ng-inplace {
    .ng-inplace-display:hover {
        @include hover-element();
    }
}

.ng-breadcrumb {
    a {
        color: $headerTextColor;
    }
}

.ng-menuitem {
    .ng-menuitem-link {
        color: $contentTextColor;

        &:hover {
            @include hover-element();
            border-color: transparent;
        }
    }

    &.ng-menuitem-active {
        > .ng-menuitem-link {
            @include hover-element();
            border-color: transparent;
        }
    }
}

.ng-tabmenu {
    .ng-tabmenu-nav {
        li:not(.ng-state-active):hover {
            @include hover-element();
        }
    }
}

.ng-steps {
    .ng-steps-item:not(.ng-state-highlight):not(.ng-state-disabled):hover {
        @include hover-element();
    }
}

.ng-panelmenu {
    .ng-panelmenu-header {
        &:not(.ng-state-active):hover {
            @include hover-element();
            border-color: $stateDefaultBorderColor;

            a {
                color: $stateHoverTextColor;
            }
        }

        &.ng-state-active {
            a {
                color: $stateActiveTextColor;
            }
        }
    }

    .ng-panelmenu-content {
        .ng-menuitem-link {
            color: $contentTextColor;

            &:hover {
                @include hover-element();
                border-color: transparent;
            }
        }
    }
}

.ng-datepicker {
    .ng-datepicker-header {
        a {
            color: $headerTextColor;

            &:hover {
                @include hover-element();
            }
        }
    }

    .ng-datepicker-calendar {
        td:not(.ng-state-disabled) {
            a:hover {
                @include hover-element();
            }
        }
    }

    .ng-monthpicker {
        .ng-monthpicker-month:hover {
            @include hover-element();
        }
    }
}

.fc {
    .fc-toolbar {
        .fc-prev-button {
            .ng-icon-circle-triangle-w {
                margin-top: .3em;
                @include icon_override("\e900");
            }
        }

        .fc-next-button {
            .ng-icon-circle-triangle-e {
                margin-top: .3em;
                @include icon_override("\e901");
            }
        }
    }
}

.ng-rating {
    a {
        color: $inputTextColor;
    }
}

.ng-organizationchart {
    .ng-organizationchart-line-down {
        background-color: darken($contentBorderColor, 10%);
    }

    .ng-organizationchart-line-left {
        border-right: 1px solid darken($contentBorderColor, 10%);
    }

    .ng-organizationchart-line-top {
        border-top: 1px solid darken($contentBorderColor, 10%);
    }

    .ng-organizationchart-node-content {
        border-color: darken($contentBorderColor, 10%);
    }

    .ng-organizationchart-node-content .ng-node-toggler {
        color: darken($contentBorderColor, 10%);
    }
}

/* TurboTable */
.ng-table {
    .ng-table-thead > tr > th,
    .ng-table-tfoot > tr > td {
        background-color: $headerBgColor;
        border: 1px solid $headerBorderColor;
        color: $headerTextColor;
    }

    .ng-table-tbody > tr {
        background-color: $contentBgColor;
        color: $contentTextColor;

        > td {
            border: 1px solid $contentBorderColor;
            background-color: inherit;
        }

        &.ng-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
        }

        &.ng-contextmenu-selected {
            background-color: lighten($stateHighlightBgColor, 20%);
            color: $stateHighlightTextColor;
        }
    }

    .ng-sortable-column {
        .ng-sortable-column-icon {
            color: $headerTextColor;
        }

        &.ng-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;

            .ng-sortable-column-icon {
                color: $stateHighlightTextColor;
            }
        }

        &:not(.ng-state-highlight):hover {
            background-color: $stateHoverBgColor;
            color: $stateHoverTextColor;

            .ng-sortable-column-icon {
                color: $stateHoverTextColor;
            }
        }
    }

    &.ng-table-hoverable-rows {
        .ng-table-tbody > tr:not(.ng-state-highlight):not(.ng-contextmenu-selected):hover {
            cursor: pointer;
            background-color: $stateHoverBgColor;
            color: $stateHoverTextColor;
        }
    }
}

@media ( max-width: 35em ) {
    .ng-table-responsive .ng-table-tbody > tr {
        border-top: 1px solid $contentBorderColor;
        border-bottom: 1px solid $contentBorderColor;
    }
}

/* Row Reorder */
.ng-table .ng-table-tbody > tr.ng-table-dragpoint-top > td {
    box-shadow: inset 0 2px 0 0 $stateHighlightBgColor;
}

.ng-table .ng-table-tbody > tr.ng-table-dragpoint-bottom > td {
    box-shadow: inset 0 -2px 0 0 $stateHighlightBgColor;
}

/* TurboTable */
.ng-treetable {
    .ng-treetable-thead > tr > th,
    .ng-treetable-tfoot > tr > td {
        background-color: $headerBgColor;
        border: 1px solid $headerBorderColor;
        color: $headerTextColor;
    }

    .ng-treetable-tbody > tr {
        background-color: $contentBgColor;
        color: $contentTextColor;

        > td {
            border: 1px solid $contentBorderColor;
            background-color: inherit;
        }

        &.ng-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;

            .ng-treetable-toggler {
                color: $stateHighlightTextColor;
            }
        }

        &.ng-contextmenu-selected {
            background-color: lighten($stateHighlightBgColor, 20%);
            color: $stateHighlightTextColor;

            .ng-treetable-toggler {
                color: $stateHighlightTextColor;
            }
        }

        .ng-treetable-toggler {
            color: $contentTextColor;
        }
    }

    .ng-sortable-column {
        .ng-sortable-column-icon {
            color: $headerTextColor;
        }

        &.ng-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;

            .ng-sortable-column-icon {
                color: $stateHighlightTextColor;
            }
        }

        &:not(.ng-state-highlight):hover {
            background-color: $stateHoverBgColor;
            color: $stateHoverTextColor;

            .ng-sortable-column-icon {
                color: $stateHoverTextColor;
            }
        }
    }

    &.ng-treetable-hoverable-rows {
        .ng-treetable-tbody > tr:not(.ng-state-highlight):not(.ng-contextmenu-selected):hover {
            cursor: pointer;
            background-color: $stateHoverBgColor;
            color: $stateHoverTextColor;
        }
    }
}

@media ( max-width: 35em ) {
    .ng-treetable-responsive .ng-treetable-tbody > tr {
        border-top: 1px solid $contentBorderColor;
        border-bottom: 1px solid $contentBorderColor;
    }
}

/* Row Reorder */
.ng-treetable .ng-treetable-tbody > tr.ng-treetable-dragpoint-top > td {
    box-shadow: inset 0 2px 0 0 $stateHighlightBgColor;
}

.ng-treetable .ng-treetable-tbody > tr.ng-treetable-dragpoint-bottom > td {
    box-shadow: inset 0 -2px 0 0 $stateHighlightBgColor;
}

/* InputSwitch */
.ng-inputswitch {
    .ng-inputswitch-slider {
        -webkit-transition: background-color .3s, box-shadow .2s;
        transition: background-color .3s, box-shadow .2s;
        background: #cccccc; 
    
        &:before {
            background-color: #ffffff;
        }
    }

    &.ng-inputswitch-focus {
        .ng-inputswitch-slider {
            -moz-box-shadow: 0px 0px 5px $stateFocusBorderColor;
            -webkit-box-shadow: 0px 0px 5px $stateFocusBorderColor;
            box-shadow: 0px 0px 5px $stateFocusBorderColor;
        } 
    }

    &:not(.ng-state-disabled):hover {
        .ng-inputswitch-slider {
            background-color: #b7b7b7;
        }
    }

    &.ng-inputswitch-checked {
        .ng-inputswitch-slider {
            background-color: #186ba0;
        }

        &:not(.ng-state-disabled):hover {
            .ng-inputswitch-slider {
                background-color: darken(#186ba0, 10%);
            }
        }
    }
}

/* Validation */
.ng-inputtext.ng-dirty.ng-invalid,
p-dropdown.ng-dirty.ng-invalid > .ng-dropdown,
p-autocomplete.ng-dirty.ng-invalid > .ng-autocomplete > .ng-inputtext,
p-calendar.ng-dirty.ng-invalid > .ng-calendar > .ng-inputtext,
p-chips.ng-dirty.ng-invalid > .ng-inputtext,
p-inputmask.ng-dirty.ng-invalid > .ng-inputtext,
p-checkbox.ng-dirty.ng-invalid .ng-chkbox-box,
p-radiobutton.ng-dirty.ng-invalid .ng-radiobutton-box,
p-inputswitch.ng-dirty.ng-invalid .ng-inputswitch,
p-listbox.ng-dirty.ng-invalid .ng-inputtext,
p-multiselect.ng-dirty.ng-invalid > .ng-multiselect,
p-spinner.ng-dirty.ng-invalid > .ng-inputtext,
p-selectbutton.ng-dirty.ng-invalid .ng-button,
p-togglebutton.ng-dirty.ng-invalid .ng-button {
    border-bottom-color: $invalidInputBorderColor;
}

/* Cornering */
.ng-corner-tl { -moz-border-radius-topleft: $borderRadius; -webkit-border-top-left-radius: $borderRadius; border-top-left-radius: $borderRadius; }
.ng-corner-tr { -moz-border-radius-topright: $borderRadius; -webkit-border-top-right-radius: $borderRadius; border-top-right-radius: $borderRadius; }
.ng-corner-bl { -moz-border-radius-bottomleft: $borderRadius; -webkit-border-bottom-left-radius: $borderRadius; border-bottom-left-radius: $borderRadius; }
.ng-corner-br { -moz-border-radius-bottomright: $borderRadius; -webkit-border-bottom-right-radius: $borderRadius; border-bottom-right-radius: $borderRadius; }
.ng-corner-top { -moz-border-radius-topleft: $borderRadius; -webkit-border-top-left-radius: $borderRadius; border-top-left-radius: $borderRadius; -moz-border-radius-topright: $borderRadius; -webkit-border-top-right-radius: $borderRadius; border-top-right-radius: $borderRadius; }
.ng-corner-bottom { -moz-border-radius-bottomleft: $borderRadius; -webkit-border-bottom-left-radius: $borderRadius; border-bottom-left-radius: $borderRadius; -moz-border-radius-bottomright: $borderRadius; -webkit-border-bottom-right-radius: $borderRadius; border-bottom-right-radius: $borderRadius; }
.ng-corner-right {  -moz-border-radius-topright: $borderRadius; -webkit-border-top-right-radius: $borderRadius; border-top-right-radius: $borderRadius; -moz-border-radius-bottomright: $borderRadius; -webkit-border-bottom-right-radius: $borderRadius; border-bottom-right-radius: $borderRadius; }
.ng-corner-left { -moz-border-radius-topleft: $borderRadius; -webkit-border-top-left-radius: $borderRadius; border-top-left-radius: $borderRadius; -moz-border-radius-bottomleft: $borderRadius; -webkit-border-bottom-left-radius: $borderRadius; border-bottom-left-radius: $borderRadius; }
.ng-corner-all { -moz-border-radius: $borderRadius; -webkit-border-radius: $borderRadius; border-radius: $borderRadius; }
