.ng-datagrid .ng-paginator {
	text-align: center;
}

.ng-datagrid-column {
	padding: .25em;
}

.ng-datagrid-content-empty {
    padding: .25em .625em;
}

.ng-datagrid .ng-datagrid-header,
.ng-datagrid .ng-datagrid-footer {
    text-align:center;
	padding: .5em .75em;
}

.ng-datagrid .ng-datagrid-header {
    border-bottom: 0 none;
}

.ng-datagrid .ng-datagrid-footer {
    border-top: 0 none;
}

.ng-datagrid .ng-paginator-top {
    border-bottom: 0 none;
}

.ng-datagrid .ng-paginator-bottom {
    border-top: 0 none;
}

