/*
* Deprecated: Use nova instead
*/

$fontFamily:  "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
$fontSize: 1em;
$borderRadius: 3px;
$disabledOpacity: 0.35;

//Header
$headerBorderWidth: 1px;
$headerBorderColor: #d9d9d9;
$headerBgColor: #f6f7f9;
$headerTextColor: #1b1d1f;
$headerFontWeight: normal;
$headerIconTextColor: #1b1d1f;

//Content
$contentBorderWidth: 1px;
$contentBorderColor: #D5D5D5;
$contentBgColor: #ffffff;
$contentTextColor: #222222;

//Default State
$stateDefaultBorderWidth: 1px;
$stateDefaultBorderColor: #d6d6d6;
$stateDefaultBgColor: #ffffff;
$stateDefaultTextColor: #555555;

//Active State
$stateActiveBorderColor: #bebebe;
$stateActiveBgColor: #d6d6d6;
$stateActiveTextColor: #212121;

//Highlight State
$stateHighlightBorderColor: #156090;
$stateHighlightBgColor: #186ba0;
$stateHighlightTextColor: #FFFFFF;

//Focus State
$stateFocusBorderColor: #c0c0c0;
$stateFocusBgColor: #eeeeee;
$stateFocusTextColor: #212121;

//Error State
$stateErrorBorderColor: #f44336;
$stateErrorBgColor: #f5554a;
$stateErrorTextColor: #cd0a0a;

//Hover State
$stateHoverBorderColor: #c0c0c0;
$stateHoverBgColor: #eeeeee;
$stateHoverTextColor: #212121;

//Forms
$inputBgColor: #ffffff;
$inputTextColor: #222222;
$invalidInputBorderColor: #f44336;
$inputGroupTextColor: #222222;

@import '../_theme';

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v15-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

.ng-widget-header {
	background: #f6f7f9 0 0 repeat-x;  /* Old browsers */
	background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f7f9), color-stop(100%,#ebedf0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6f7f9 0%,#ebedf0 100%); /* W3C */
}

.ng-accordion {
    .ng-accordion-header {
        background: $headerBgColor;
    	border-top: 1px solid $headerBorderColor;
        
        a {
            color: $headerTextColor;
        }
        
        &:not(.ng-state-active):not(.ng-state-disabled):hover {
            background: #ededf0;
        }
        
        &.ng-state-active {
            background: #ffffff;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
    }
    
     .ng-accordion-content {
         border: 0 none;
     }
}

/* Tabview */
.ng-tabview {
    &.ng-widget-content {
        border: 0 none;
    }
    
    .ng-tabview-nav {
        background: transparent;
        
        > li {
            &.ng-state-default {
               background: #f6f7f9;
            }
                        
            &.ng-state-active {
                background: #ffffff; 
                font-weight: normal; 
                color: #555555;
            }
            
            &:not(.ng-state-active):not(.ng-state-disabled):hover {
                background: #ededf0;
            }
         }
    }
}

/* Spinner */
.ng-spinner:not(.ng-state-disabled) .ng-spinner-button:enabled:hover {
    border: 1px solid #1f89ce;
    background: #1f89ce;
    outline: 0 none;
    color: #ffffff;
}

.ng-spinner:not(.ng-state-disabled) .ng-spinner-button:enabled:active {
    border: 1px solid #156090;
    background: #186ba0;
    color: #ffffff;
}

.ng-slider { position: relative; text-align: left; background: #838688; border: none; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset; box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset;}
.ng-slider .ng-slider-handle { position: absolute; z-index: 2; width: 17px !important; height: 21px  !important; cursor: default; background: url("images/slider_handles.png") 0 0 no-repeat; outline: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border: none; }
.ng-slider .ng-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background: #14a4ff; -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset; box-shadow: 0 1px 3px rgba(0,0,0,0.6) inset; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.ng-slider .ng-slider-handle.ng-state-active { background-position: -17px 0; }

.ng-slider-horizontal { height: 6px; }
.ng-slider-horizontal .ng-slider-handle { top: -2px !important; margin-left: -.6em; }
.ng-slider-horizontal .ng-slider-range { top: 0; height: 100%; }
.ng-slider-horizontal .ng-slider-range-min { left: 0; }
.ng-slider-horizontal .ng-slider-range-max { right: 0; }

.ng-slider-vertical { width: .8em; height: 100px; }
.ng-slider-vertical .ng-slider-handle { left: -.1em !important; margin-left: 0; margin-bottom: -.6em; }
.ng-slider-vertical .ng-slider-range { left: 0; width: 100%; }
.ng-slider-vertical .ng-slider-range-min { bottom: 0; }
.ng-slider-vertical .ng-slider-range-max { top: 0; }

.ng-progressbar {
    &.ng-progressbar-determinate {
        .ng-progressbar-value {
        	 border: 0 none;
             background: #8ec5fc;
        }
        
        .ng-progressbar .ng-progressbar-label {
        	color: #222222;
        }
    }
    
    &.ng-progressbar-indeterminate {
        background: #8ec5fc;
        
        .ng-progressbar-value {
        	 border: 0 none;
             background-color: $stateHighlightBgColor;
        }
    }
}



.ng-widget-header .ng-button,		
.ng-widget-content .ng-button,
.ng-widget.ng-button,
.ng-button {
	border: 1px solid #2399e5;
	color: #FFFFFF;
	background: #2399e5;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
    
    &:enabled:hover,
    &:focus {
        border: 1px solid #1f89ce;
    	background: #1f89ce;
    	outline: 0 none;
        color: #ffffff;
    }
    
    &:enabled:active {
        border: 1px solid #156090;
    	background: #186ba0;
        color: #ffffff;
    }
}

.ng-fileupload-choose:not(.ng-state-disabled):hover,
.ng-fileupload-choose.ng-state-focus {
    border: 1px solid #1f89ce;
    background: #1f89ce;
    outline: 0 none;
    color: #ffffff;
}

.ng-fileupload-choose:not(.ng-state-disabled):active {
    border: 1px solid #156090;
    background: #186ba0;
    color: #ffffff;
}

/* Checkbox and Radio */
.ng-chkbox-box.ng-state-active,
.ng-radiobutton-box.ng-state-active {
    border: 1px solid #156090; 
    background: #186ba0; 
    color: #FFFFFF;
}

.ng-chkbox-box.ng-state-focus,
.ng-radiobutton-box.ng-state-focus  {
    -moz-box-shadow: 0px 0px 5px #1f89ce;
	-webkit-box-shadow: 0px 0px 5px #1f89ce;
	box-shadow: 0px 0px 5px #1f89ce;
}

.ng-chkbox-box.ng-state-focus.ng-state-active {
    background: #186ba0; 
}

/* Inputs */
.ng-inputtext {
	background: #ffffff;
	color: #222222;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
}

.ng-inputtext.ng-state-focus,
.ng-inputtext:focus {
	-moz-box-shadow: 0px 0px 5px #1f89ce;
	-webkit-box-shadow: 0px 0px 5px #1f89ce;
	box-shadow: 0px 0px 5px #1f89ce;
}

/* InputSwitch */
/* InputSwitch */
.ng-inputswitch.ng-inputswitch-focus {
    .ng-inputswitch-slider {
        -moz-box-shadow: 0px 0px 5px #1f89ce;
        -webkit-box-shadow: 0px 0px 5px #1f89ce;
        box-shadow: 0px 0px 5px #1f89ce;
    }
}

.ng-paginator .ng-paginator-page.ng-state-active {
	background: #186ba0;
	color: #ffffff;
	border-color: #156090;
}

/* DataTable  */
.ng-datatable {
    th {
        &.ng-state-default {
            background: #ebedf0;
            border-color: #d9d9d9;
        }
        
        &.ng-sortable-column:not(.ng-state-active):hover {
            background: #d3d5d8;
            border-color: #d9d9d9;
        }
                
        &.ng-state-active {
            background: #186ba0;
            color: #ffffff;
        }
    }
    
    tbody {
        > tr.ng-widget-content {
            border-color: #d9d9d9;
            
            &.ng-datatable-odd {
                background-color: #fafafb;
            }
            
            &.ng-state-highlight {
                background-color: $stateHighlightBgColor;
                color: $stateHighlightTextColor;
            }
        }        
    }
    
    tfoot {
        td {
            &.ng-state-default {
                background: #ebedf0;
                border-color: #d9d9d9;
            }
        }
    }
}

/* TurboTable */
.ng-table {
    .ng-table-thead > tr > th,
    .ng-table-tfoot > tr > td {
        background-color: #ebedf0;
        border-color: #d9d9d9;
    }

    .ng-sortable-column:not(.ng-state-highlight):hover {
        background-color: #d3d5d8;
        border-color: #d9d9d9;
    }

    .ng-table-tbody > tr:nth-child(even) {
        background-color: #fafafb;

        &.ng-state-highlight {
            background-color: $stateHighlightBgColor;
            color: $stateHighlightTextColor;
        }

        &.ng-contextmenu-selected {
            background-color: lighten($stateHighlightBgColor, 20%);
            color: $stateHighlightTextColor;
        }
    }
}

/* TurboTable */
.ng-treetable {
    .ng-treetable-thead > tr > th,
    .ng-treetable-tfoot > tr > td {
        background-color: #ebedf0;
        border-color: #d9d9d9;
    }

    .ng-sortable-column:not(.ng-state-highlight):hover {
        background-color: #d3d5d8;
        border-color: #d9d9d9;
    }
}

/* Panel */
.ng-panel.ng-widget {
    padding: 0;
    
    .ng-panel-titlebar.ng-corner-all {
        -moz-border-radius-bottom-left: 0; 
        -webkit-border-bottom-left-radius: 0; 
        border-bottom-left-radius: 0;
        -moz-border-radius-bottom-right: 0; 
        -webkit-border-bottom-right-radius: 0; 
        border-bottom-right-radius: 0;
    }
    
    .ng-panel-titlebar {
         border-width: 0 0 1px 0;
    }
    
    .ng-panel-titlebar-icon span {
        position: relative;
        top: 1px;
    }

}

/* TreeTable */
.ng-treetable {
    th.ng-state-default {
        background: #ebedf0;
        border-color: #d9d9d9;
    }
}

/* ButtonSet */
.ng-togglebutton.ng-button.ng-state-default,
.ng-selectbutton .ng-button.ng-state-default {
    border: 1px solid #d6d6d6; 
    background: #ffffff; 
    font-weight: normal; 
    color: #555555;
}

.ng-togglebutton.ng-button.ng-state-hover,.ng-togglebutton.ng-button.ng-state-focus,
.ng-selectbutton .ng-button.ng-state-hover,.ng-selectbutton .ng-button.ng-state-focus, .ng-selectbutton .ng-button:focus {
   border: 1px solid #c0c0c0; 
   background: #eeeeee; 
   font-weight: normal; 
   color: #212121;
}

.ng-togglebutton.ng-button.ng-state-focus,
.ng-selectbutton .ng-button.ng-state-focus.ng-state-active,
.ng-selectbutton .ng-button.ng-state-active:focus  {
    -moz-box-shadow: 0px 0px 5px #1f89ce;
	-webkit-box-shadow: 0px 0px 5px #1f89ce;
	box-shadow: 0px 0px 5px #1f89ce;
}

.ng-togglebutton.ng-button.ng-state-active,
.ng-selectbutton .ng-button.ng-state-active {
   border: 1px solid #156090; 
   background: #186ba0; 
   color: #FFFFFF;
}

.ng-multiselect {
    .ng-multiselect-label {
        background-color: #ffffff;
    }
}

.ng-dropdown.ng-state-focus, .ng-multiselect.ng-state-focus {
    -moz-box-shadow: 0px 0px 5px #1f89ce;
    -webkit-box-shadow: 0px 0px 5px #1f89ce;
    box-shadow: 0px 0px 5px #1f89ce;
}

/* Growl */
.ng-growl-item-container.ng-state-highlight {
    &.ng-growl-message-info {
        background-color: #2196f3;
        border-color :#2196f3;
    }
    
    &.ng-growl-message-error {
        background-color: #f44336;
        border-color :#f44336;
    }
    
    &.ng-growl-message-warn {
        background-color: #FFB300;
        border-color :#FFB300;
    }
    
    &.ng-growl-message-success {
        background-color: #4CAF50;
        border-color :#4CAF50;
    }
}

/* TabMenu */
.ng-tabmenu {
    border: 0 none;
    
    .ng-tabmenu-nav {
        background: none;
        
        > li {
            &.ng-state-default {
               background: #f6f7f9;
            }
                        
            &.ng-state-active {
                background: #ffffff; 
                font-weight: normal; 
                color: #555555;
            }
            
            &:not(.ng-state-active):not(.ng-state-disabled):hover {
                background: #ededf0;
            }
         }
    }
}

/* Menus */
.ng-menu,
.ng-menubar, .ng-menubar .ng-submenu-list,
.ng-tieredmenu, .ng-tieredmenu .ng-submenu-list,
.ng-slidemenu, .ng-slidemenu .ng-submenu-list,
.ng-contextmenu, .ng-contextmenu .ng-submenu-list,
.ng-megamenu {
    color: #1b1d1f;
    background: #f6f7f9 0 0 repeat-x;  /* Old browsers */
    background: -moz-linear-gradient(top, #f6f7f9 0%, #ebedf0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f7f9), color-stop(100%,#ebedf0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f6f7f9 0%,#ebedf0 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f7f9 0%,#ebedf0 100%); /* W3C */
}

.ng-menu .ng-menuitem > .ng-menuitem-link:hover,
.ng-menubar .ng-menuitem > .ng-menuitem-link:hover,
.ng-tieredmenu .ng-menuitem > .ng-menuitem-link:hover,
.ng-slidemenu .ng-menuitem > .ng-menuitem-link:hover,
.ng-contextmenu .ng-menuitem > .ng-menuitem-link:hover,
.ng-megamenu .ng-menuitem > .ng-menuitem-link:hover {
    background-color: #a6a6a6;
    color: #ffffff;
}

.ng-menu .ng-menuitem.ng-menuitem-active > .ng-menuitem-link,
.ng-menubar .ng-menuitem.ng-menuitem-active > .ng-menuitem-link,
.ng-tieredmenu .ng-menuitem.ng-menuitem-active > .ng-menuitem-link,
.ng-slidemenu .ng-menuitem.ng-menuitem-active > .ng-menuitem-link,
.ng-contextmenu .ng-menuitem.ng-menuitem-active > .ng-menuitem-link,
.ng-megamenu .ng-menuitem.ng-menuitem-active > .ng-menuitem-link {
    background-color: #a6a6a6;
    color: #ffffff;
}

/* PanelMenu */
.ng-panelmenu .ng-panelmenu-header.ng-state-active,
.ng-panelmenu .ng-panelmenu-header.ng-state-active a {
    border-color: #156090; 
    background: #186ba0; 
    color: #FFFFFF;
}

/* DatePicker */
.ng-datepicker.ng-widget {
    padding: 0;
    
    .ng-datepicker-header {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        border-top: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        
        a {            
            &:hover {
                border-width: 1px;
            }
        }
    }
    
    .ng-datepicker-calendar {
        margin: 0;
        
        thead th {
            background-color: #f6f8fa;
        }
        
        td {
            border-bottom: 1px solid rgba(213, 213, 213, 0.5);
            
            a {                
                &.ng-state-highlight {
                    background-color: #d6d6d6;
                    color: #212121;
                }
                
                &.ng-state-active {
                    background-color: #186ba0;
                    color: #ffffff;
                }
            }
        }
        
        tr:last-child td {
            border-bottom: 0 none;
        }
    }

    .ng-monthpicker {
        a.ng-state-active {
            background-color: #186ba0;
            color: #ffffff;
        }
    }
    
    .ng-timepicker {
        border-bottom: 0 none;
        border-left: 0 none;
        border-right: 0 none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }
    
    &.ng-datepicker-timeonly {
        .ng-timepicker {
            border-top: 0 none;
        }
    }
}

/* Steps */
.ng-steps .ng-steps-item.ng-state-highlight .ng-menuitem-link {
    color: #ffffff;
}

/* Dialog */
.ng-dialog.ng-widget .ng-dialog-titlebar {
    padding: 1em 1.5em;
}

.ng-dialog.ng-widget .ng-dialog-titlebar .ng-dialog-title {
    font-size: 1.25em;
}

.ng-dialog.ng-widget .ng-dialog-content {
    padding: 1em 1.5em;
}

/* Schedule */
.fc {
    .fc-button-group {
        .ng-state-active {
            border: 1px solid #156090;
            background: #186ba0;
            color: #ffffff;
        }
    }
}
