.ng-datalist .ng-datalist-header,
.ng-datalist .ng-datalist-footer {
    text-align:center;
	padding: .5em .75em;
}

.ng-datalist .ng-datalist-header {
    border-bottom: 0 none;
}

.ng-datalist .ng-datalist-footer {
    border-top: 0 none;
}

.ng-datalist .ng-datalist-data {
    margin: 0;
    padding: 0;
}

.ng-datalist .ng-datalist-data > li {
    list-style-type: none;
    
}

.ng-datalist .ng-datalist-emptymessage {
    padding: .5em .75em;
}

.ng-datalist.ng-datalist-scrollable .ng-datalist-content {
    overflow: auto;
}

.ng-datalist .ng-paginator-top {
    border-bottom: 0 none;
}

.ng-datalist .ng-paginator-bottom {
    border-top: 0 none;
}
