.ng-menubar {
    padding: .25em;
}

.ng-menubar .ng-menu-separator {
    border-width: 1px 0 0 0;
}

.ng-menubar:after {
    content: "";
    clear: both;
    display: table;
}

.ng-menubar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ng-menubar .ng-menuitem-link {
    display: block;
    padding: .25em;
    position: relative;
    text-decoration: none;
}

.ng-menubar .ng-menuitem-icon {
    margin-right: .25em;
}

.ng-menubar .ng-menubar-root-list {
    display: inline-block;
}

.ng-menubar .ng-menubar-root-list > .ng-menuitem {
    display: inline-block;
    position: relative;
}

.ng-menubar .ng-menubar-root-list > .ng-menuitem > .ng-menuitem-link {
    padding: .5em;
}

.ng-menubar .ng-menubar-root-list > .ng-menuitem > .ng-menuitem-link > .ng-submenu-icon {
    vertical-align: middle;
    margin-left: .25em;
}

.ng-menubar .ng-menubar-root-list > li ul {
    display: none;
}

.ng-menubar .ng-submenu-list {
    display: none;
    position: absolute;
    min-width: 12.5em;
    padding: .25em;
}

.ng-menubar .ng-submenu-list .ng-menuitem {
    margin: .125em 0;
    position: relative;
}

.ng-menubar .ng-menuitem-icon {
    margin-right: .25em;
    vertical-align: middle;
}

.ng-menubar .ng-menuitem-text {
    vertical-align: middle;
}

.ng-menubar .ng-submenu-list .ng-menuitem-link .ng-submenu-icon {
    position: absolute;
    margin-top: -.5em;
    right: 0;
    top: 50%;
}

.ng-menubar .ng-menuitem-active > .ng-submenu > .ng-submenu-list {
    display: block;
}

.ng-menubar .ng-menubar-custom {
    float: right;
    padding: .25em;
}