.ng-inputtextarea-resizable {
    overflow:hidden;
    resize:none;
}

.ng-fluid .ng-inputtextarea {
    width:100%;
}

.ng-float-label textarea:focus ~ label,
.ng-float-label textarea.ng-state-filled ~ label,
.ng-float-label textarea:-webkit-autofill ~ label {
  top:-.75em;
  font-size:12px;
}