.ng-panel {
	padding: 0.2em;
}

.ng-panel .ng-panel-titlebar {
	padding: .5em .75em;
}

.ng-panel .ng-panel-titlebar.ng-panel-titlebar-clickable {
    cursor: pointer;
}

.ng-panel .ng-panel-titlebar-icon {
	float: right;
    cursor: pointer;
}

.ng-panel .ng-panel-titlebar-icon {
	margin-left: 0.2em;
    margin-top: -0.1em;
}

.ng-panel .ng-panel-content {
	border: 0;
    background: none;
    padding: .5em .75em;
}

.ng-panel .ng-panel-footer {
	border-width: 1px 0 0;
	padding: .25em .5em;
	text-align:left;
}
  
.ng-panel-content-wrapper-overflown {
    overflow: hidden;
}     