.ng-menu {
    width: 12.5em;
    padding: .25em;
}

.ng-menu.ng-menu-dynamic {
    position: absolute;
}

.ng-menu .ng-menu-separator {
    border-width: 1px 0 0 0;
}

.ng-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ng-menu .ng-submenu-header {
    padding: .25em .5em;
    margin: .125em 0;
}

.ng-menu .ng-menuitem {
    margin: .125em 0;
}

.ng-menu .ng-menuitem-link {
    padding: .25em;
    display: block;
    text-decoration: none;
}

.ng-menu .ng-menuitem-icon {
    margin-right: .25em;
    vertical-align: middle;
}

.ng-menu .ng-menuitem-text {
    vertical-align: middle;
}