.ng-splitbutton {
    position: relative;
    display: inline-block;
    zoom: 1;
}

.ng-splitbutton .ng-button.ng-splitbutton-menubutton {
    width: 2em;
    vertical-align: top;
}

.ng-splitbutton.ng-state-disabled button {
    cursor: default;
}

.ng-fluid .ng-splitbutton {
    width: 100%;
}

.ng-fluid .ng-splitbutton .ng-button:first-child {
    width: calc(100% - 2em);
}

.ng-fluid .ng-splitbutton .ng-button.ng-splitbutton-menubutton {
    width: 2em;
}