.ng-contextmenu {
    width: 12.5em;
    padding: .25em;
    position: absolute;
    display: none;
}

.ng-contextmenu .ng-menu-separator {
    border-width: 1px 0 0 0;
}

.ng-contextmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ng-contextmenu .ng-submenu-list {
    display: none;
    position: absolute;
    width: 12.5em;
    padding: .25em;
}

.ng-contextmenu .ng-menuitem-link {
    padding: .25em;
    display: block;
    position: relative;
}

.ng-contextmenu .ng-menuitem-icon {
    margin-right: .25em;
    vertical-align: middle;
}

.ng-contextmenu .ng-menuitem-text {
    vertical-align: middle;
}

.ng-contextmenu .ng-menuitem {
    position: relative;
}


.ng-contextmenu .ng-menuitem-link .ng-submenu-icon {
    position: absolute;
    margin-top: -.5em;
    right: 0;
    top: 50%;
}

.ng-contextmenu .ng-menuitem-active > .ng-submenu > .ng-submenu-list {
    display: block !important;
}